summary {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  cursor: pointer;
}

details[open] summary {
  color: #5f8cff;
}

u {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1.5px;
}